<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jingkai - Personal Website</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <div class="logo">
                <a href = "/">
                    <img src="../assets/media/logo.jpeg" alt="Logo">
                </a>
            </div>
            <nav class="navbar">
                <ul class="nav-list">
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="/games">Sudoku Game</a></li>
                    <li class="nav-item"><a href="/login">Sign In/Sign up</a></li>
                    <li class="nav-item"><a href="https://github.com/JingkaiXie/mywebapp">Site source code</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main-container">
        <h1>
            Hello, welcome.
        </h1>
        <p class="welcome-message">
            Hi, My name is Jingkai Xie, I'm a software engineer. This website's content might seem a bit random as it's primary purpose is to serve as a testing ground for me to learn and experiment with new technologies.
            If you are interested on how this site was built or would like to improve my site, you can find the source code <a href="https://github.com/JingkaiXie/mywebapp">here</a>.
        </p>
    </main>

</body>
</html>