
{% extends "base.html" %}

{% block additional_css %}
<link rel="stylesheet" href="../assets/css/index.css">
{% endblock %}

{% block content %}
<h1 class="welcome-message-header">
    Hello, welcome.
</h1>
<p class="welcome-message">
    Hi, My name is Jingkai Xie, I'm a software engineer working at eMetric LLC, a company that provides platform for K-12 education online testing and score reporting.
    Previously, I graduated from UT Austin with MS in computer science in 2022, and Bachelors in mathematics from UT Dallas in 2019. <br /><br />

    This website's content might seem a bit random as it's primary purpose is to serve as a testing ground for me to learn and experiment with new technologies.
    If you are interested on how this site was built or would like to improve my site, you can find the source code <a href="https://github.com/JingkaiXie/mywebapp">here</a>.
</p>
{% endblock %}