{% extends "base.html" %}

{% block additional_css %}
<link rel="stylesheet" href="../assets/css/sudoku.css">
{% endblock %}

{% block content %}
<div class="sudoku-board" id="sudoku-board">
    <!-- Sudoku cells will be generated dynamically with JavaScript -->
</div>

<div class="sudoku-buttons">
    <button type="button" id="btn-solve">Solve</button>
    <button type="button" id="btn-reset">Reset</button>
    <button type="button" id="btn-new-game">New Game</button>
</div>
{% endblock %}

{% block additional_js %}
<script src="../assets/js/sudoku.js"></script>
{% endblock %}